.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  /* grid-template-column: 1fr 1fr 1fr 1fr 1fr; grid-template-column */
  /* grip-gap: 20 px; grid-gap */
}
